/* abstracts/_variables.scss */

// -----------------------------------------------------------------------------
//  Custom project variables
// -----------------------------------------------------------------------------

// -------------------------------------------
//  Color Palette
// -------------------------------------------

$color-1: hsl(0, 0%, 93%);
$color-2: hsl(0, 0%, 86%);
$color-3: hsl(0, 0%, 71%);
$color-4: hsl(0, 0%, 48%);
$color-5: hsl(0, 0%, 29%);
$color-6: hsl(0, 0%, 21%);
