/* abstracts/_bulma/_custom.scss */

// Override custom Bulma variables:
// - elements
// - form
// - components
// - grid
// - layout

// -----------------------------------------------------------------------------
//  @see https://github.com/jgthms/bulma/tree/master/sass/elements
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//  @see https://github.com/jgthms/bulma/tree/master/sass/form
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//  @see https://github.com/jgthms/bulma/tree/master/sass/components
// -----------------------------------------------------------------------------

// -------------------------------------------
//  components/navbar.scss
// -------------------------------------------

$navbar-background-color: $white;
$navbar-box-shadow-size: 0 1px 0 0;
$navbar-box-shadow-color: $grey-lighter;

// -----------------------------------------------------------------------------
//  @see https://github.com/jgthms/bulma/tree/master/sass/grid
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//  @see https://github.com/jgthms/bulma/tree/master/sass/layout
// -----------------------------------------------------------------------------

// -------------------------------------------
//  layout/footer.sass
// -------------------------------------------

$footer-background-color: $white;
$footer-padding: 0;
